@keyframes typing {
  from {
    width: 0;
}
  to {
    width: 100%;
  }
}
  
  #myText {
    font-weight: bold;
            color: #000000;
            overflow: hidden;
            white-space: nowrap;
            animation: typing 5s steps(40, end);
  }
  
  
  .myText {
      position: absolute;
      left: 20%;
      line-height: 1.375;
      letter-spacing: 0.06em;
      margin-top: 0;
      margin-bottom: 0;
      font-family: "Oswald", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-weight: 400;
      text-transform: uppercase;
      color: #151515;
      font-size: 4.5vw;
  }
  .voiti{
    position: absolute;
    left: 37%;
    top: 93.7%;
    text-decoration: none;
  }
  .voiti:hover{
    color: red;
  }
  @media(max-width: 835px){
    .myText{
        position: absolute;
        top: 12%;
    }
}